body {
  padding: 60px 40px;
  text-align: center;
  color: white;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
h1 {
  padding: 10px;
}
.tituloprincipal{
  font-size: 22px;
}

.tituloprincipal span{
  text-transform: uppercase;
  font-weight: 800;
}
h4{
  font-size: 20px;
}

.contenedor {
  background-color: grey;
  width: 250px;
  margin: 0 auto;
  min-height: 300px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
}

.calcular {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 0.8px;
  font-weight: 700;
  text-transform: uppercase;
}
.divisas{
  padding: 10px;
  background-color: white;
}

.contenedorgrafico {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graficos {
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
}
